In [7]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st

crime_data_path = "../data/WorldCrimeIndex.csv"

crime_data = pd.read_csv(crime_data_path)

crime_data.head()

   Rank                            City  Crime Index  Safety Index
0     1              Caracas, Venezuela        83.98         16.02
1     2          Pretoria, South Africa        81.98         18.02
2     3                  Celaya, Mexico        81.80         18.20
3     4        San Pedro Sula, Honduras        80.87         19.13
4     5  Port Moresby, Papua New Guinea        80.71         19.29